<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Page Title</title>
</head>
<body>

<form action="/login" method="post" onsubmit="login()">
    First name:<br>
    <input id="username" type="text" name="username">
    <br>
    Last name:<br>
    <input id="password" type="text" name="password">
    <br><br>
    <input type="submit" value="Submit">
    <h3>Name : {{.Name}}</h3>
    <h3>Name : {{.Username}}</h3>
    <h3>Name : {{.Password}}</h3>

</form>
</body>
<script>
    function login() {
        debugger
        console.log("send")
    }
</script>
</html>
